.sidebar {
  font-family: "Roboto";

  min-height: 100vh;
  background-color: #D9D9D9;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 245px;
  border-radius: 0px 20px 20px 0px;
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  min-height: 56px;
}

.logo-circle {
  width: 60px;
  height: 60px;
  background-color: #A7B5BE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -10px;
}

.logo-text {
  color: #004663;
  font-size: 24px;
  font-weight: bold;
}

.separator {
  width: 95%;
  height: 2px;
  background-color: gray;
  margin-top: -2px;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
  gap: 10px;
  font-weight: 500;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: filter 0.3s ease, color 0.3s ease; /* Added color transition */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  font-size: 17px;
  font-weight: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease, font-weight 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgba(0, 70, 99, 0.1);
    
    .icon {
      filter: brightness(0); /* Icon color change on hover */
      color: white; /* Change icon color to white */
    }

    .text {
      font-weight: bold;
      color: white; /* Change text color to white */
    }
  }

  &.active {
    background-color: rgba(0, 70, 99, 0.4);
    
    .icon {
      filter: brightness(0); /* Icon color change when active */
      color: white; /* Change icon color to white */
    }

    .text {
      font-weight: bold;
      color: white; /* Change text color to white */
    }
  }
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.text {
  margin-left: 10px;
  transition: font-weight; /* Added color transition */
}
